.container {
  .timer-block {
    margin: 0 auto;
    margin-top: 10%;
    width: 500px;
    height: 500px;
    background-color: rgb(63, 188, 255);
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
      rgba(0, 0, 0, 0.22) 0px 15px 12px;

    #title {
      margin-left: 40%;
    }

    #counter {
      padding-left: 235px;
      padding-top: 130px;
	  margin-bottom: 20px;
      font-size: 50px;
      color: white;
    }

    .btn-container {
      padding-left: 100px;
	  padding-top: 20px;

      .btn {
        margin-left: 10px;
        border: none;
        background: #404040;
        color: #ffffff;
        font-weight: 100;
        padding: 25px;
        text-transform: uppercase;
        border-radius: 6px;
        text-decoration: none;
        display: inline-block;
        transition: all 0.3s ease 0s;
      }

      .btn:hover {
        color: #404040;
        font-weight: 700;
        letter-spacing: 3px;
        background: none;
        -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
        -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
        transition: all 0.3s ease 0s;
      }
    }
  }
}
